.profile__add-button {
  padding: 0;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  min-width: 150px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  align-self: center;
}

.profile__add-button::after {
  position: absolute;
  top: 12px;
  content: " ";
  border: 1px solid white;
  height: 20px;
}

.profile__add-button::before {
  position: absolute;
  top: 12px;
  content: " ";
  border: 1px solid white;
  height: 20px;
  transform: rotate(90deg);
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .profile__add-button {
    width: 100%;
    margin-top: 13px;
  }

  .profile__add-button::after {
    top: 14px;
    height: 15px;
  }

  .profile__add-button::before {
    top: 14px;
    height: 15px;
  }
}
