.header__link {
  display: block;
  width: 142px;
  margin: 45px 0 37px 0;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .header__link {
    width: 103.74px;
    margin: 28px 0 27px 27px;
  }
}
