.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 22px 0 0 0;
  align-self: flex-start;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .profile__name {
    justify-self: center;
    font-size: 27px;
    line-height: 33px;

  }
}
