.profile__info {
  display: grid;
  grid-template-columns: auto minmax(min-content, calc(100% - 25%)) auto;
  grid-template-rows: repeat(2, min-content);
  gap: 0px 0px;
  grid-template-areas:
    "img title button"
    "img sub ..";
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .profile__info {
    grid-template-columns: 18px auto 18px;
    grid-template-rows: repeat(3, min-content);
    gap: 0px 0px;
    grid-template-areas:
    ". img ."
    ". title button"
    ". sub .";
    justify-content: center;

  }
}
